:root {
        --branco: #ffffff;
        --preto: #000000;
        --marrom: #5c4033;
        --verde-musgo: #839e61;
        --verdeClaro:#CBDDB5;
        --verde: #A8CA7E;
        --fundo: #874600;
        }

* {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }


body {
        background-color: var(--branc);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--marrom);
        }

/* MENU DE NAVEGAÇÃO */
nav {
        background-color: var(--verde-musgo);
        padding: 1rem 2rem;
        }
a{
        text-decoration: none;
}

.nav-links {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        list-style: none;
        }

.nav-links a {
        text-decoration: none;
        color: var(--branco);
        font-weight: bold;
        transition: color 1s;
        }

.nav-links a:hover {
        color: var(--verde);
        }

/* HEADER */
header {
        display: flex;
        justify-content: flex-start; /* Alinhado à esquerda */
        align-items: center;
        height: 90vh;
        padding: 2rem;
        background-color: var(--branco);
        text-align: left;
        }


.logo {
        font-size: 4rem;
        font-weight: bold;
        color: var(--marrom);
        animation: slideIn 5s ease-out forwards;
        opacity: 0;
        }
  
.txt{
        margin-left: 20px;
        font-size: 1em;
        color: var(--preto);
        animation: slideIn 5s ease-out forwards;
        opacity: 0;
}


/*-----BOTÃO-DE-TEMAS-----*/
#botao-tema {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

#botao-tema:hover {
  transform: scale(1.1);
}

#mensagem-tema {
  margin: 1rem;
  font-weight: bold;
}


/* Tema escuro completo */
body.dark {
  background-color: #1c1c1c;
  color: var(--branco);
}

body.dark header {
  background-color: #1c1c1c; /* mesmo tom escuro do body */
}

body.dark .logo,
body.dark .txt {
  color: var(--branco);
}

body.dark .cartao{
        box-shadow: 0 0 30px 10px var(--verde-musgo);
}


@keyframes slideIn {
0% {
        transform: translateX(-100px);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
        }

@keyframes slideFromRight {
  0% {
    width: 0px;
    transform: translateX(300px) rotate(10deg);
    opacity: 0;
  }
  100% {
    width: 300px;
    transform: translateX(0) rotate(10deg);
    opacity: 1;
  }
}

.cartao {
  width: 300px; /* ajuste se quiser */
  animation: slideFromRight 4s ease-out forwards;
  opacity: 0;
  transform: rotate(10deg);
  border-radius: 20%;
  box-shadow: 0 0 20px black
  ;
  position: relative;
  z-index: 1;
  margin-left: 20px;
}


/* RESPONSIVIDADE */
@media (max-width: 1024px) {
        .logo {
        font-size: 3.5rem;
        }
        }

@media (max-width: 605px) {
header {
        justify-content: center;
        text-align: center;
        }

.logo {
        font-size: 2.8rem;
        }

.nav-links {
        flex-direction: column;
        align-items: center;
        }
        }

 @media (max-width: 480px) {
 .logo {
        font-size: 2.2rem;
        padding: 0 1rem;
        }

.nav-links {
        gap: 1rem;
        }
        }

